*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

body {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  min-height: 100vh;
  padding: 1.5rem;
  background: #F9B208;
  font-family: "Ubuntu", sans-serif;
  animation-name: popup;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

main {
  display: flex;
  flex-direction: row-reverse;
  background: #FFFFFF;
  padding: 5rem;
}

.rightSection {
  width: 40vw;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featuredEpisode {
  height: 13rem;
  position: relative;
  font-size: 50%;
  overflow: hidden;
  color: #000000;
}
.featuredEpisode__datum {
  position: absolute;
  top: 4%;
  right: 1%;
  font-size: 150%;
  background: #ECECEC;
  border-radius: 0.2rem;
}
.featuredEpisode__image {
  width: 100%;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}
.featuredEpisode__title {
  position: absolute;
  bottom: 3%;
  left: 1%;
  background: #ECECEC;
  border-radius: 0.2rem;
}
.featuredEpisode__paragraph {
  height: 20rem;
  font-size: 100%;
  overflow-y: scroll;
}
.featuredEpisode__navigation {
  display: flex;
  justify-content: space-between;
}
.featuredEpisode__audio {
  border: none;
  width: 15rem;
  background: #F98404;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featuredEpisode__audio:hover {
  cursor: pointer;
}

.leftSection {
  width: 50%;
  font-size: 40%;
}

.episodes {
  width: 80%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.episodes__episode {
  position: relative;
  width: 40%;
  cursor: pointer;
}
.episodes__image {
  width: 100%;
  border-radius: 0.5rem;
}
.episodes__date {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 150%;
  background: #ECECEC;
  border-radius: 0.2rem;
}
.episodes__title {
  position: absolute;
  bottom: 4%;
  left: 1%;
  font-size: 120%;
  background: #ECECEC;
}

.header {
  height: 25vh;
  background: #FFFFFF;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  color: #FC5404;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header__logo {
  font-size: 5rem;
}
.header__text {
  font-size: 3rem;
}

footer {
  background: #FFFFFF;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
}

@media screen and (max-width: 67.5rem) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .leftSection {
    width: 100%;
  }
  .rightSection {
    width: 100%;
  }
  .episodes__episode {
    width: 45%;
  }
}
@media screen and (max-width: 50rem) {
  body {
    padding: 0;
  }
  .header {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 2rem;
  }
  .header__text {
    font-size: 2rem;
  }
  footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2rem;
    height: 20vh;
  }
  .featuredEpisode__paragraph {
    font-size: 1rem;
  }
  .featuredEpisode__navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 31.25rem) {
  .episodes__episode {
    width: 100%;
  }
}
/* components */
/* abstracts */

/*# sourceMappingURL=style.css.map */
