@use "./abstracts/colors";
@use "./abstracts/animations";
body{
    min-height: 100vh;
    padding: 1.5rem;
    background: map-get(colors.$baseColors, "background");
    font-family: 'Ubuntu', sans-serif;
    @include animations.a-popup;

}

main{
    display: flex;
    flex-direction: row-reverse;
    background: #FFFFFF;
    padding: 5rem;
}