body{
    min-height: 100vh;
    padding: 1.5rem;
    background: #F9B208;
    font-family: 'Ubuntu', sans-serif;

}

main{
    display: flex;
    flex-direction: row-reverse;
    background: #FFFFFF;
    padding: 5rem;
    height: 50rem;
    
}